.box{
    width: 6.4rem;
    height: 11.35rem;
    margin: 0 auto;
    background-color:rgb(253,239,231);
}
.header{
    width: 100%;
    height: 0.86rem;
    background: rgb(255,130,136);
    color: #fff;
    font-size: 0.34rem;
    text-align: center;
    line-height: 0.86rem;
}
section{text-align: center}
.nicheng{
    font-size: 0.3rem;
    display: inline-block;
    width: 1.2rem;
    color: rgb(102,102,102);
}
.inp{
    width: 3.8rem;
    height: 0.7rem;
    border:none;
    border-radius: 0.1rem;
    display: inline-block;
}
li{
    position: relative;
}
.yincang{
    position: absolute;
    top: 1.27rem;
    left: 2.2rem;
    font-size: 0.2rem;
    color: red;
}
.inp1{
    display: inline-block;
    width: 2.2rem;
    height: 0.7rem;
    border:none;
}
.inp2{
    display: inline-block;
    height: 0.7rem;
    background: rgb(255,130,136);
    border:none;
    color: #fff;
    border-radius: 0.1rem;
}
.notClick{
    background: #ccc;
    pointer-events: none;
}
.btn{
    width: 5.5rem;
    height: 0.7rem;
    background: rgb(255,130,136);
    margin:0.5rem auto;
    font-size: 0.35rem;
    color: #fff;
    border:none;
}
.tankuang{
    width: 4rem;
    height: 2rem;
    background: rgba(241,241,241,0.8);
    position: absolute;
    color: #666;
    top: 4.5rem;
    left: 1.4rem;
    display: none;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 8px;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #ddd;
}
.contents{    margin-top: 0.2rem;
    color: rgb(255,130,136);}
.qd{
    width: 1.3rem;
    position: absolute;
    top: 1.2rem;
    left: 1.3rem;
}